= render "shared/header"

#account-page.account-page
  .account-page__inner.clearfix
    .account-page__inner--left.account-page__header
      %h5 新規会員登録
    .account-page__inner--right.user-form
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .field
          %h3 必須
          .field-label
            = f.label :名前
          .field-input
            = f.text_field :name, autofocus: true, placeholder: "例） 山田太郎"
        .field
          .field-label
            = f.label :アイコン
          .field-input
            = f.attachment_field :image, autofocus: true
        .field
          %h3 必須
          .field-label
            = f.label :性別
          .field-select
            = f.select :sex, ["男性", "女性"], prompt: "---"
        .field
          %h3 必須
          .field-label
            = f.label :年齢
          .field-select
            = f.select :age, ["10代", "20歳~24歳", "25歳~29歳", "30歳~34歳", "35歳~39歳", "40歳~44歳", "45歳~49歳", "50歳~54歳", "55歳~59歳", "60歳〜"], prompt: "---"
        .field-introduce
          %h3 必須
          .field-introduce-label
            = f.label :自己紹介文
          .field-introduce-textarea
            = f.text_area :introduce, autofocus: true, placeholder: "例）初めまして。山田太郎と言います。エンジニア歴10年で、現在会社員をしています。近い内に脱サラしようと考えています。フリーランスで案件を獲得しつつ、スタートアップ案件にも挑戦したいと考えていますので、エンジニア不足の起業家様にはお力添えできるかと思います。"
        .field
          %h3 必須
          .field-label
            = f.label :地域
          .field-select
            = f.select :area, ["北海道", "青森", "岩手", "宮城", "秋田", "山形", "福島", "茨城", "栃木", "群馬", "埼玉", "東京", "神奈川", "千葉", "新潟", "富山", "石川", "福井", "山梨", "長野", "愛知", "岐阜", "三重", "滋賀", "京都", "大阪", "兵庫", "奈良", "和歌山", "鳥取", "島根", "岡山", "広島", "山口", "徳島", "香川", "愛媛", "高知", "福岡", "佐賀", "長崎", "熊本", "大分", "宮崎", "鹿児島", "沖縄"], prompt: "---"

        .field2
          %h3 必須
          .field2-label
            = f.label :職業
          .field2-select
            #large-category
              = f.collection_select(:category_id, Category.where(ancestry: nil), :id, :name, {prompt: "---"})
            #middle-category

        .field2
          %h3 必須
          .field2-label
            = f.label :スキル①（必須）
          .field2-select
            #large1-category
              = f.collection_select(:skill1_id, Skill1.where(ancestry: nil), :id, :name, {prompt: "---"})
            #middle1-category
            #small1-category
              = f.select :skill1_period, ["1年未満", "1年〜3年", "3年〜5年", "5年〜10年", "10年以上"], prompt: "---"
          
        .field2
          .field2-label
            = f.label :スキル②（任意）
          .field2-select
            #large2-category
              = f.collection_select(:skill2_id, Skill2.where(ancestry: nil), :id, :name, {prompt: "---"})
            #middle2-category
            #small2-category
              = f.select :skill1_period, ["1年未満", "1年〜3年", "3年〜5年", "5年〜10年", "10年以上"], prompt: "---"

        .field2
          .field2-label
            = f.label :スキル③（任意）
          .field2-select
            #large3-category
              = f.collection_select(:skill3_id, Skill3.where(ancestry: nil), :id, :name, {prompt: "---"})
            #middle3-category
            #small3-category
              = f.select :skill1_period, ["1年未満", "1年〜3年", "3年〜5年", "5年〜10年", "10年以上"], prompt: "---"

        .field2
          .field2-label
            = f.label :スキル④（任意）
          .field2-select
            #large4-category
              = f.collection_select(:skill4_id, Skill4.where(ancestry: nil), :id, :name, {prompt: "---"})
            #middle4-category
            #small4-category
              = f.select :skill1_period, ["1年未満", "1年〜3年", "3年〜5年", "5年〜10年", "10年以上"], prompt: "---"

        .field2
          .field2-label
            = f.label :スキル⑤（必須）
          .field2-select
            #large5-category
              = f.collection_select(:skill5_id, Skill5.where(ancestry: nil), :id, :name, {prompt: "---"})
            #middle5-category
            #small5-category
              = f.select :skill1_period, ["1年未満", "1年〜3年", "3年〜5年", "5年〜10年", "10年以上"], prompt: "---"

        .field
          .field-label
            = f.label :実績①（任意）
          .field-input
            = f.text_field :performance1, autofocus: true
        
        .field
          .field-label
            = f.label :実績②（任意）
          .field-input
            = f.text_field :performance2, autofocus: true
        
        .field
          .field-label
            = f.label :実績③（任意）
          .field-input
            = f.text_field :performance3, autofocus: true
        
        .field
          .field-label
            = f.label :実績④（任意）
          .field-input
            = f.text_field :performance4, autofocus: true
        
        .field
          .field-label
            = f.label :実績⑤（任意）
          .field-input
            = f.text_field :performance5, autofocus: true
        
        .field
          .field-label
            = f.label :興味あるプロジェクト
          .field-input
            = f.text_field :project

        .field3
          %h3 必須
          .field3-label
            = f.label :参画形態
          .field3-select
            = f.collection_check_boxes :jointype, Jointype.all, :name, :name

        .field
          .field-label
            = f.label :やってみたいこと
          .field-input
            = f.text_field :want_to_do
        .field
          .field-label
            = f.label :繋がりたい人
          .field-input
            = f.text_field :want_to_meet
        .field
          %h3 必須
          .field-label
            = f.label :メール
          .field-input
            = f.email_field :email
        .field
          %h3 必須
          .field-label
            = f.label :パスワード
            %i (英数字8文字以上)
          .field-input
            = f.password_field :password, autocomplete: "off"
        .field
          %h3 必須
          .field-label
            = f.label :パスワード（確認用）
          .field-input
            = f.password_field :password_confirmation, autocomplete: "off"
        .actions
          = f.submit "登録", class: 'btn'

= render "shared/footer"
