= render "shared/header"

.how-to-use
  .how-to-use__first
    = image_tag('top-image.jpg', class: 'top-image')
    .how-to-use__first__title
      %h2 Shake × Hands
      %h3 気軽に起業家と繋がれるマッチングプラットフォーム
      %button.account-new-btn
        = link_to "会員登録(無料)", new_user_registration_path, class: "account-new-btn"
    .how-to-use__first__bar

  .how-to-use__second
    .how-to-use__second__title
      %h2 起業家同士がアイデア段階からでも
      %h2 気軽に繋がり、ビジネスを始めることを目的とした
      %h2 マッチングプラットフォーム
    .how-to-use__second__image
      = image_tag('how-to-use1.png', class: 'top-image')
  
  .how-to-use__third
    .how-to-use__third__title1
      %h2 Shake × Hands
      %h3 が目指す働き方
    .how-to-use__third__title2
      %h4 『起業家同士が気軽に繋がり、
      %h4 　仲間探し〜アイデア〜契約〜仕事開始まで自由に決める働き方』
      .how-to-use__third__title2__image
        .how-to-use__third__title2__image__tab
          %h2 仲間探し
          = image_tag('仲間.jpg', class: 'how-to-use-image')
          .how-to-use__third__title2__image__tab__text
            %p 想いを同じにし、協力してビジネスを進められそうな仲間を見つけましょう。
        .how-to-use__third__title2__image__tab
          %h2 アイデア
          = image_tag('idea.jpg', class: 'how-to-use-image')
          .how-to-use__third__title2__image__tab__text
            %p 想いを同じにする起業家同士でアイデアのブラッシュアップを行い、より良いサービスへと向上させましょう。
        .how-to-use__third__title2__image__tab
          %h2 契約
          = image_tag('契約.jpg', class: 'how-to-use-image')
          .how-to-use__third__title2__image__tab__text
            %p 報酬配分や業務委託契約など必要な契約は、双方で十分に話し合って合意しましょう。
        .how-to-use__third__title2__image__tab
          %h2 仕事開始
          = image_tag('start.jpg', class: 'how-to-use-image')
          .how-to-use__third__title2__image__tab__text
            %p いよいよ仕事開始です。
  
  .how-to-use__forth
    .how-to-use__forth__title
      %h2 Shake × Hands
      %h3 のサービス

  .how-to-use__fifth
    .how-to-use__fifth__tab
      %h2 コミュニティ
      .how-to-use__fifth__tab__image
        = link_to image_tag(src= "community.jpg", class: "service-image"), communities_path
      .how-to-use__fifth__tab__text
        %p すでにあるコミュニティに参加するも良し。自分自身で自由にコミュニティを作るのも良し。チャット機能も活かし、気軽に他のユーザーとコンタクトを取りましょう。
    .how-to-use__fifth__tab
      %h2 スカウト
      .how-to-use__fifth__tab__image
        = link_to image_tag(src= "scout.jpg", class: "service-image"), users_path
      .how-to-use__fifth__tab__text
        %p 職業、スキル、地域、年齢などあなたが繋がりたい起業家を見つけ、コンタクトを取っていきましょう。最高のビジネスパートナーと繋がることをサポート致します。
      .how-to-use__fifth__tab__text
    .how-to-use__fifth__tab
      %h2 プロジェクト
      .how-to-use__fifth__tab__image
        = link_to image_tag(src= "project.jpg", class: "service-image"), projects_path
      .how-to-use__fifth__tab__text
        %p あなたがすでに進めているプロジェクト。またはこれから始めようとしているプロジェクトなど、仲間を探している方は、手をあげて、仲間を募集しましょう。
    .how-to-use__fifth__tab
      %h2 ニュース
      .how-to-use__fifth__tab__image
        = link_to image_tag(src= "news.jpg", class: "service-image"), articles_path
      .how-to-use__fifth__tab__text
        %p サイト運営から適宜、最新情報をお伝え致します。新機能の搭載やサービスの改善などの報告もこちらで行います。

= render "shared/footer2"