= render "shared/header"

.question
  %h2 よくある質問

  .question__tab
    %h4 利用料金について
    .question__tab__text
      %p コミュニティ作成/閲覧。チャット。ユーザー検索/閲覧。プロジェクト作成/閲覧は無料プランでご使用頂けます。ユーザー同士のDMについては一部料金が発生します。
      %p 料金プランについては、下記リンクを参照下さい。
      = link_to "料金プランについて", "price", class: "price-link"

  .question__tab
    %h4 有料プランを解約したらどうなりますか？
    .question__tab__text
      %p 有料プランを解約すると、解約したタイミングから一部機能が使えなくなります。有効期限が残っている場合も、解約すると消滅してしまいますので、ご注意下さい。

  .question__tab
    %h4 Shake × Handsで繋がった起業家さんと実際に仕事をすることになり、報酬が発生したら、別途手数料は発生しますか？
    .question__tab__text
      %p 報酬形態については、双方で合意していただく必要がありますが、当サービスが別途手数料を頂くことは一切ありません。

  .question__tab
    %h4 実際に起業家さんと繋がって、仕事をすることになったら、業務委託契約書などを結ぶ必要があると思いますが、その雛形はありますか？
    .question__tab__text
      %p 当サービスは、仲間集め〜アイデア〜契約〜仕事開始まで、全て起業家様で自由に行えることを基本理念としていますので、ご自身でご準備頂くようお願いいたします。

  .question__tab
    %h4 Shake × Handsで出会った起業家さんとトラブルが発生した場合はどうなりますか？
    .question__tab__text
      %p 利用規約にも記載があるように、利用者が、本サービスを利用することにより、他の利用者又は第三者に対し不利益・損害を与えた場合、利用者は自己の費用と責任においてこれを賠償するものとし、これらの一切の不利益・損害について弊社は一切責任を負いません。
      %p 利用規約については、下記リンクを参照下さい。
      = link_to "利用規約について", "termofservice", class: "price-link"
  
  .question__tab
    %h4 プロジェクトやコミュニティを作成するに当たって、禁止されている内容や項目はありますか？
    .question__tab__text
      %p 利用規約にも記載されていますが、法令又は公序良俗に違反する行為や事務局、会員、外部SNS事業者、その他第三者の著作権、肖像権等の知的財産権、プライバシー、名誉を侵害する行為など禁止させて頂いてます。
      %p 利用規約については、下記リンクを参照下さい。
      = link_to "利用規約について", "termofservice", class: "price-link"

  .question__tab
    %h4 自分自身でコミュニティを作成し、交流会などを開催しようかと思いますが、問題ありませんか？
    .question__tab__text
      %p はい。問題ありません。ただし、そのイベントで発生する一切の費用、不利益、損害については弊社は負いかねますので、自己責任にて実施ください。

= render "shared/footer2"