= render "shared/header"

.user-search
  .keyword-search
    %p キーワード検索
    = form_tag(users_path, method: "get") do
      = text_field_tag :search, "", placeholder: "ユーザー名を入力"
  .cageroy-search
    %p 職業検索
    = render "shared/category-search"

.scout-page
  .scout
    .scout__index
      %h1  ユーザー一覧
      .scout__index__big
        = will_paginate @users, :previous_label => ' &lt 前へ', :next_label => '次へ &gt'
        = render partial: "shared/user-detail", collection: @users, as: :user

= render "shared/footer"