.footer
  .footer__page-up-button
    %button.page-top-button TOPへ戻る
  .footer__tab
    %h2 Shake × handsについて
    = link_to "トップページ","footers/howtouse", class: "footer-tab"
    = link_to "料金プラン", "footers/price", class: "footer-tab"
    = link_to "コミュニティ",communities_path, class: "footer-tab"
    = link_to "スカウト", users_path, class: "footer-tab"
    = link_to "プロジェクト", projects_path, class: "footer-tab"
    = link_to "ニュース", articles_path, class: "footer-tab"
  .footer__tab
    %h2 サポート
    = link_to "初めての方へ","footers/beginner", class: "footer-tab"
    = link_to "ご利用ガイドライン","footers/guide", class: "footer-tab"
    = link_to "よくある質問","footers/question", class: "footer-tab"
    = link_to "お問い合わせ","footers/contact", class: "footer-tab"
  .footer__tab
    %h2 会社情報
    = link_to "利用規約","footers/termofservice", class: "footer-tab"
    = link_to "特定商取引法に基づく表記","footers/special", class: "footer-tab"
    = link_to "個人情報保護方針","footers/protect", class: "footer-tab"
  .footer__right
    %p Copyright ©Shake × Hands All Rights Reserved.