= render "shared/header"

.community-detail
  .community-detail__up
    .community-detail__up__image
      = attachment_image_tag @community, :image, class: "community-detail-image"
    .community-detail__up__name
      %p コミュニティ名
      .community-detail__up__name__tab
        = @community.name
    .community-detail__up__explain
      %p コミュニティ説明文
      .community-detail__up__explain__tab
        = @community.explain
    .community-detail__up__button
        
  .form
    = form_for [@community, @chat] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'コメントを入力して下さい'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit '入力', class: 'form__submit'
  
  .chat-height
    = render @chats