= render "shared/header"

.mypage
  .mypage__content
    .mypage__content__icon
      - if current_user.image.nil?
        = image_tag("default_icon.jpg", class: "user-image")
      - else
        = attachment_image_tag current_user, :image, class: "user-image"
    
    .mypage__content__name
      = current_user.name
    .mypage__content__work
      = current_user.category.name

    .mypage__content__edit
      .mypage__content__edit__button
        = link_to "編集", "#", class: "edit-btn"

    .mypage__content__button
      .mypage__content__button__dm
        %button
          = icon('fas', 'envelope', class: "dm-btn")
    
    .mypage__content__tab2
      %p フォロー
      .mypage__content__tab2__count
        = current_user.followings.count
      .mypage__content__tab2__name
        - current_user.followings.each do |user|
          - if user.image.nil?
            = image_tag("default_icon.jpg", class: "follow-image")
          - else
            = attachment_image_tag user, :image, class: "follow-image"
    
    .mypage__content__tab3
      %p フォロワー
      .mypage__content__tab3__count
        = current_user.followers.count
      .mypage__content__tab3__name
        - current_user.followers.each do |user|
          - if user.image.nil?
            = image_tag("default_icon.jpg", class: "follow-image")
          - else
            = attachment_image_tag user, :image, class: "follow-image"

    %table{border: "1"}
      %thead
        %tr
          %th 性別
      %tbody
        %tr
          %td
            = current_user.sex
      %thead
        %tr
          %th 年齢
      %tbody
        %tr
          %td
            = current_user.age
      %thead
        %tr
          %th 地域
      %tbody
        %tr
          %td
            = current_user.area
      %thead
        %tr
          %th 自己紹介
      %tbody
        %tr
          %td
            .introduce-tab
              = current_user.introduce
      %thead
        %tr
          %th スキル
      %tbody
        %tr
          %td
            .skill
              .skill-tab
                .skill-tab__name
                  = current_user.skill1.name
                .skill-tab__period
                  = current_user.skill1_period
              .skill-tab
                .skill-tab__name
                  = current_user.skill2.name
                .skill-tab__period
                  = current_user.skill2_period
              .skill-tab
                .skill-tab__name
                  = current_user.skill3.name
                .skill-tab__period
                  = current_user.skill3_period
              .skill-tab
                .skill-tab__name
                  = current_user.skill4.name
                .skill-tab__period
                  = current_user.skill4_period
              .skill-tab
                .skill-tab__name
                  = current_user.skill5.name
                .skill-tab__period
                  = current_user.skill5_period
      %thead
        %tr
          %th 実績
      %tbody
        %tr
          %td
            = current_user.performance1
      %thead
        %tr
          %th やりたいこと
      %tbody
        %tr
          %td
            = @wanttodos
      %thead
        %tr
          %th 繋がりたい人
      %tbody
        %tr
          %td
            .skill-tab__name
              = @wanttomeets
      %thead
        %tr
          %th 参画携帯
      %tbody
        %tr
          %td
            = @jointypes

= render "shared/footer"